.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Adjust the height as needed */
    z-index: 1000;
    background-color: #002435; /* Adjust the background color */
    color: #fff; /* Adjust the text color */
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .logo-container img {
    height: 40px; /* Adjust the logo height as needed */
    margin-right: 1rem;
  }
  
  .name-container span {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .progress-bar-container {
    position: fixed;
    top: 60px; /* Height of the top bar */
    left: 0;
    width: 100%;
    height: 6px; /* Adjust the height of the progress bar as needed */
    background-color: #004363; /* Adjust the background color of the progress bar container */
    border-radius: 5px; /* Adjust the border radius for rounded corners */
    overflow: hidden;
    display: flex;
  }
  
  .progress-bar {
    border-radius: 5px;
    height: 100%;
    --progress: 0;
    width: var(--progress);
    background-color: #00AFD1; /* Adjust the background color of the progress bar */
    transition: width 0.1s ease; /* Adjust the transition duration and easing as needed */
  }
  
  .content {
    margin-top: 80px; /* Adjust the margin top to make space for the fixed top bar */
    padding: 20px;
    /* Add additional styling for your main content */
  }
  .container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%; /* Adjust as needed */
    left: 95%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  .vertical-nav {
    background-color: #004363;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 48px;
    justify-content: space-around;
    
  }
  
  .nav-item svg {
    width: 30px;
    height: 30px;
    margin: 5px;
    fill: #00768D;
    transition: fill 0.3s ease;
    position: relative;
    margin-bottom: 20px;
  }
  
  .nav-item:hover svg {
    fill: #00AFD1;
  }
  .nav-item.active svg {
    fill: #00AFD1;
  }
  .nav-item{
    position: relative;
  }
  .nav-item::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0%; /* Adjust the left position for the line */
    width: 3px;
    height: 55%;
    background-color: #00AFD1;
    transition: opacity 0.3s ease;
    opacity: 0;
    border-radius: 5px;
  }
  .nav-item:hover::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0%; /* Adjust the left position for the line */
    width: 3px;
    height:55%;
    background-color: #00AFD1;
    transition: opacity 0.3s ease;
    opacity: 1;
    border-radius: 5px;
  }
  .nav-item.active::before {
    opacity: 1;
  }
  
  