<div class="color-container">
    <span class="hello-text">Hello </span>
    <span class="dot-text">.</span>
    <hr class="hr">
    <p class="h2">I'm Aditya</p>
    <ngx-typed-js [strings]="['Professional', 'Analyst']" [loop]="true" [backSpeed]="30" [backDelay]="1500" [typeSpeed]="100" class="dynamicText">
        <span class="static">Healthcare </span><span class="typing"></span>
    </ngx-typed-js>

    <nav>
        <div class="bottom-bar">
            <div class="name-container">
                <span>Python</span>
            </div>
            <div class="name-container">
                <span>R-Programming</span>
            </div>
            <div class="name-container">
                <span>Tableau</span>
            </div>
            <div class="name-container">
                <span>Power BI</span>
            </div>
            <div class="name-container">
                <span>Angular.js</span>
            </div>
            <div class="name-container">
                <span>MySQL</span>
            </div>
        </div>
    </nav>
    <button type="button" class="button" (click)="scrollToContact()">Get In Touch</button>
    <button type="button" class="button2" (click)="openResume()">My Resume</button>
    <div class="pic-container">
        <img src="assets/Group 3.png" alt="" class="mypic">
    </div>
</div>


